# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# PyCharm / IntelliJ
# ==============================
.idea/
*.iml

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Log
# ==============================
log/
logs/
*.log

# ==============================
# Python test / cache
# ==============================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==============================
# Build
# ==============================
build/
dist/
*.egg-info/

# ==============================
# macOS
# ==============================
.DS_Store

# ==============================
# Windows
# ==============================
Thumbs.db
desktop.ini

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp
*.bak
*.swp